<table class='table'>
  <tr>
    <%= image_tag user.get_profile_image, size:'100x100', class: "my-2" %>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>Following</th>
	  <th>
	    <%= link_to user_followings_path(user) do %>
	      <%= user.following.count %>
	    <% end %>
    </th>
  </tr>
  <tr>
	  <th>Followers</th>
	  <th>
	    <%= link_to user_followers_path(user) do %>
	      <%= user.followers.count %>
	    <% end %>
    </th>
  </tr>
  <tr>
    <th colspan="2">
      <% unless current_user == user %>
        <% if current_user.following?(user) %>
          <%= form_for current_user.active_relationships.find_by(followed_id: user.id), html: {method: :delete } do |f| %>
            <%= f.submit "フォローを止める", class: "btn btn-outline-danger btn-block" %>
          <% end %>
        <% else %>
          <%= form_for current_user.active_relationships.build do |f| %>
            <%= hidden_field_tag :followed_id, user.id %>
            <%= f.submit "フォローする", class: "btn btn-outline-primary btn-block" %>
          <% end %>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>
<div class='row'>

</div>
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog mr-1"></i>Setting
  <% end %>
</div>